.dragbox {
  pointer-events: none;
  /*display: none;*/
  /*! CSS Used from: https://static.canva.com/web/817cff6706c6d06e7a98.css */
  [tabindex] {
    -webkit-tap-highlight-color: transparent;
  }

  .moveable-control-box{
     pointer-events: visible;
  }
  .awStMQ {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .awStMQ {
    left: 0;
  }

  .awStMQ {
    direction: ltr;
  }

  .XSSVgw {
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='150%25' height='150%25' x='-25%25' y='-17.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cg filter='url(%23a)' transform='scale(-1 1) rotate(45 -8.536 -13.435)'%3E%3Cpath fill='%23FFF' d='M4.257 7.087l4.072 4.068L5.5 13.983l8.473-.013.013-8.47-2.841 2.842L7.07 4.274 5.656 2.859 8.5.017H.014v8.484l2.829-2.827z'/%3E%3Cpath fill='%23000' d='M5.317 6.733l4.427 4.424-1.828 1.828 5.056-.016.014-5.054-1.842 1.841-4.428-4.422-2.474-2.475 1.844-1.843H1.013v5.071l1.83-1.828z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 12 12, auto;
    cursor: -webkit-image-set(url(https://static.canva.com/web/images/5e315937d3456710f9684f89c7860ea8.png) 1x, url(https://static.canva.com/web/images/a3609c7d7315d7301c3832d7e76e7974.png) 2x) 12 12, auto;
  }

  .LlhZCQ {
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='150%25' height='150%25' x='-25%25' y='-17.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cg filter='url(%23a)' transform='matrix(-1 0 0 1 19 5)'%3E%3Cpath fill='%23FFF' d='M4.257 7.087l4.072 4.068L5.5 13.983l8.473-.013.013-8.47-2.841 2.842L7.07 4.274 5.656 2.859 8.5.017H.014v8.484l2.829-2.827z'/%3E%3Cpath fill='%23000' d='M5.317 6.733l4.427 4.424-1.828 1.828 5.056-.016.014-5.054-1.842 1.841-4.428-4.422-2.474-2.475 1.844-1.843H1.013v5.071l1.83-1.828z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 12 12, auto;
    cursor: -webkit-image-set(url(https://static.canva.com/web/images/d78cdce65d153748ffd0fb1a5573ac75.png) 1x, url(https://static.canva.com/web/images/ce13b386dbba73815423332724d3030a.png) 2x) 12 12, auto;
  }

  .BUvbUQ {
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='150%25' height='150%25' x='-25%25' y='-17.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cg filter='url(%23a)' transform='scale(-1 1) rotate(-45 3.536 32.435)'%3E%3Cpath fill='%23FFF' d='M4.257 7.087l4.072 4.068L5.5 13.983l8.473-.013.013-8.47-2.841 2.842L7.07 4.274 5.656 2.859 8.5.017H.014v8.484l2.829-2.827z'/%3E%3Cpath fill='%23000' d='M5.317 6.733l4.427 4.424-1.828 1.828 5.056-.016.014-5.054-1.842 1.841-4.428-4.422-2.474-2.475 1.844-1.843H1.013v5.071l1.83-1.828z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 12 12, auto;
    cursor: -webkit-image-set(url(https://static.canva.com/web/images/159a13980e4a0d0a470a49f8d35eb5a6.png) 1x, url(https://static.canva.com/web/images/4ecfddb1ae830056cfa9144f81c83295.png) 2x) 12 12, auto;
  }

  ._2O_Ung {
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='150%25' height='150%25' x='-25%25' y='-17.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cg filter='url(%23a)' transform='translate(5 5)'%3E%3Cpath fill='%23FFF' d='M4.257 7.087l4.072 4.068L5.5 13.983l8.473-.013.013-8.47-2.841 2.842L7.07 4.274 5.656 2.859 8.5.017H.014v8.484l2.829-2.827z'/%3E%3Cpath fill='%23000' d='M5.317 6.733l4.427 4.424-1.828 1.828 5.056-.016.014-5.054-1.842 1.841-4.428-4.422-2.474-2.475 1.844-1.843H1.013v5.071l1.83-1.828z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 12 12, auto;
    cursor: -webkit-image-set(url(https://static.canva.com/web/images/7ea01757f820a9fb828312dcf38cb746.png) 1x, url(https://static.canva.com/web/images/2c4ec45151de402865dffaaa087ded3c.png) 2x) 12 12, auto;
  }

  .Y_rXHg {
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='266.7%25' height='156.2%25' x='-75%25' y='-21.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3Cpath id='b' d='M1.67 12.67a7.7 7.7 0 0 0 0-9.34L0 5V0h5L3.24 1.76a9.9 9.9 0 0 1 0 12.48L5 16H0v-5l1.67 1.67z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 24V0h24v24z'/%3E%3Cg fill-rule='nonzero' filter='url(%23a)' transform='rotate(90 5.25 14.75)'%3E%3Cuse fill='%23000' fill-rule='evenodd' xlink:href='%23b'/%3E%3Cpath stroke='%23FFF' d='M1.6 11.9a7.21 7.21 0 0 0 0-7.8L-.5 6.2V-.5h6.7L3.9 1.8a10.4 10.4 0 0 1 0 12.4l2.3 2.3H-.5V9.8l2.1 2.1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 12 12, auto;
    cursor: -webkit-image-set(url(https://static.canva.com/web/images/4d0e991d3ba4f5fc763640a966b6171a.png) 1x, url(https://static.canva.com/web/images/c0013ec5969d2610c26794064d159d8c.png) 2x) 12 12, auto;
  }

  .iwbuOQ {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    transition: opacity .3s ease;
    background-image: linear-gradient(90deg, #00d9e1 0, #00d9e1), linear-gradient(180deg, #00d9e1 0, #00d9e1), linear-gradient(90deg, #00d9e1 0, #00d9e1), linear-gradient(180deg, #00d9e1 0, #00d9e1);
    background-position: top, 100%, bottom, 0;
    background-size: 12px 2px, 2px 12px, 12px 2px, 2px 12px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  }

  ._7WSEvA {
    position: absolute;
    pointer-events: visible;
    /*width: 266.906px;
    height: 400px;*/
    //transform: translate(0px, 0px);
    /*left: 100px;
    top: 77.5px;*/
  }

  ._7WSEvA:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
  }

  ._7WSEvA:before {
    background-color: #00c4cc;
  }

  ._7WSEvA:before {
    left: 0;
    right: 0;
  }

  ._7WSEvA.xk1pAg:before {
    transition: opacity .2s ease-in;
  }

  .D_pcYQ {
    outline: none;
    transition: opacity .3s ease;
  }

  .D_pcYQ, .jLnzEQ {
    width: 100%;
    height: 100%;
  }

  .jLnzEQ {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tWLO5Q {
    pointer-events: auto;
  }

  .tWLO5Q {
    position: absolute;
    width: 32px;
    height: 32px;
  }

  .bHjyDw, .JcrqeQ {
    width: 100%;
    height: 32px;
  }

  ._3sHsVA, ._7wIhoA, .bHjyDw, .JcrqeQ {
    display: flex;
    justify-content: center;
  }

  ._3sHsVA, ._7wIhoA {
    flex-direction: column;
    width: 32px;
    height: 100%;
  }

  .d17Zhg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .d17Zhg:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(14, 19, 24, .15), 0 0 0 1px rgba(14, 19, 24, .2);
    position: relative;
  }

  .bHjyDw .d17Zhg:after, .JcrqeQ .d17Zhg:after {
    width: 16px;
    height: 4px;
  }

  ._3sHsVA .d17Zhg:after, ._7wIhoA .d17Zhg:after {
    width: 4px;
    height: 16px;
  }

  ._4f_o1A {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  .qs9lNw {
    display: flex;
    position: absolute;
    padding: 20px;
  }

  .qs9lNw.HuUi1g {
    top: 100%;
  }

  ._9aYTig {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: move;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ._9aYTig:after {
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff 2px no-repeat;
    background-size: 16px;
    box-shadow: 0 0 5px 1px rgba(14, 19, 24, .15), 0 0 0 1px rgba(14, 19, 24, .15);
    z-index: -1;
    -webkit-transform: rotate(var(--rotation));
    transform: rotate(var(--rotation));
  }

  ._9aYTig:after {
    position: absolute;
    border-radius: 50%;
  }

  ._6uIMng ._4f_o1A {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  ._6uIMng:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='currentColor' d='M15.25 18.48V15a.75.75 0 1 0-1.5 0v4c0 .97.78 1.75 1.75 1.75h4a.75.75 0 1 0 0-1.5h-2.6a8.75 8.75 0 0 0-2.07-15.53.75.75 0 1 0-.49 1.42 7.25 7.25 0 0 1 .91 13.34zM8.75 5.52V9a.75.75 0 0 0 1.5 0V5c0-.97-.78-1.75-1.75-1.75h-4a.75.75 0 0 0 0 1.5h2.6a8.75 8.75 0 0 0 2.18 15.57.75.75 0 0 0 .47-1.43 7.25 7.25 0 0 1-1-13.37z'/%3E%3C/svg%3E");
  }

  .Ieb5Pg {
    left: -16px;
  }

  .bHjyDw, .Ieb5Pg, .j1p_dQ {
    top: -16px;
  }

  ._7wIhoA, .j1p_dQ, .JifkyA {
    right: -16px;
  }

  .JcrqeQ, .JifkyA, .zMcsWg {
    bottom: -16px;
  }

  ._3sHsVA, .zMcsWg {
    left: -16px;
  }

  .Ieb5Pg {
    -webkit-transform: translate(calc(-1 * var(--outward-x)), calc(-1 * var(--outward-y)));
    transform: translate(calc(-1 * var(--outward-x)), calc(-1 * var(--outward-y)));
  }

  .Ieb5Pg .d17Zhg:after {
    -webkit-transform: translate(var(--outward-x), var(--outward-y));
    transform: translate(var(--outward-x), var(--outward-y));
  }

  .bHjyDw {
    -webkit-transform: translateY(calc(-1 * var(--outward-y)));
    transform: translateY(calc(-1 * var(--outward-y)));
  }

  .bHjyDw .d17Zhg:after {
    -webkit-transform: translateY(var(--outward-y));
    transform: translateY(var(--outward-y));
  }

  .j1p_dQ {
    -webkit-transform: translate(var(--outward-x), calc(-1 * var(--outward-y)));
    transform: translate(var(--outward-x), calc(-1 * var(--outward-y)));
  }

  .j1p_dQ .d17Zhg:after {
    -webkit-transform: translate(calc(-1 * var(--outward-x)), var(--outward-y));
    transform: translate(calc(-1 * var(--outward-x)), var(--outward-y));
  }

  ._7wIhoA {
    -webkit-transform: translateX(var(--outward-x));
    transform: translateX(var(--outward-x));
  }

  ._7wIhoA .d17Zhg:after {
    -webkit-transform: translateX(calc(-1 * var(--outward-x)));
    transform: translateX(calc(-1 * var(--outward-x)));
  }

  .JifkyA {
    -webkit-transform: translate(var(--outward-x), var(--outward-y));
    transform: translate(var(--outward-x), var(--outward-y));
  }

  .JifkyA .d17Zhg:after {
    -webkit-transform: translate(calc(-1 * var(--outward-x)), calc(-1 * var(--outward-y)));
    transform: translate(calc(-1 * var(--outward-x)), calc(-1 * var(--outward-y)));
  }

  .JcrqeQ {
    -webkit-transform: translateY(var(--outward-y));
    transform: translateY(var(--outward-y));
  }

  .JcrqeQ .d17Zhg:after {
    -webkit-transform: translateY(calc(-1 * var(--outward-y)));
    transform: translateY(calc(-1 * var(--outward-y)));
  }

  .zMcsWg {
    -webkit-transform: translate(calc(-1 * var(--outward-x)), var(--outward-y));
    transform: translate(calc(-1 * var(--outward-x)), var(--outward-y));
  }

  .zMcsWg .d17Zhg:after {
    -webkit-transform: translate(var(--outward-x), calc(-1 * var(--outward-y)));
    transform: translate(var(--outward-x), calc(-1 * var(--outward-y)));
  }

  ._3sHsVA {
    -webkit-transform: translateX(calc(-1 * var(--outward-x)));
    transform: translateX(calc(-1 * var(--outward-x)));
  }

  ._3sHsVA .d17Zhg:after {
    -webkit-transform: translateX(var(--outward-x));
    transform: translateX(var(--outward-x));
  }

  /*! CSS Used from: https://static.canva.com/web/460f8fe1f2026acb1631.css */
  ._5Azx_w {
    contain: layout;
  }

  .MW9lNg {
    position: absolute;
    top: -1px;
    bottom: -1px;
  }

  .MW9lNg {
    padding: 1px;
    background-size: 12px 2px, 2px 12px, 12px 2px, 2px 12px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  }

  .MW9lNg {
    background-image: linear-gradient(90deg, #00d9e1 0, #00d9e1), linear-gradient(180deg, #00d9e1 0, #00d9e1), linear-gradient(90deg, #00d9e1 0, #00d9e1), linear-gradient(180deg, #00d9e1 0, #00d9e1);
    background-position: top, 100%, bottom, 0;
    left: -1px;
    right: -1px;
  }
}
