/*! CSS Used from: https://static.canva.com/web/67ad0f761c950f23ceb6.css */
.mymusic {
  overflow-y: scroll;
  height: 100vh;

  .xR4dgg {
    display: inline-block;
    vertical-align: text-bottom;
    box-sizing: border-box;
  }

  .xR4dgg > svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .ZQsKtg {
    width: 16px;
    height: 16px;
  }

  .f_b3kA {
    width: 24px;
    height: 24px;
  }

  .ZTpOuQ {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
  }

  .n9zSJA {
    font-size: 1.4rem;
  }

  .MWlxIg, .n9zSJA {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }

  .MWlxIg {
    font-size: 1.2rem;
  }

  .uQ-fxg {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }

  .USE2Rg {
    display: inline-block;
    color: #fff;
    height: 16px;
    letter-spacing: .6px;
    line-height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .USE2Rg {
    border-radius: 8px;
    padding: 0 6px;
  }

  .USE2Rg {
    padding-right: 5.7px;
  }

  ._3zBBXg {
    background-color: rgba(14, 19, 24, .7);
  }

  .vpQagg {
    vertical-align: top;
  }

  .ZQcUXA {
    outline: none;
    transition: background-color .15s ease-in-out;
  }

  .ZQcUXA {
    cursor: pointer;
    border: 0;
    margin: 0;
  }

  @media (-moz-touch-enabled: 1), (pointer: coarse) {
    .ZQcUXA:after {
      content: "";
      position: absolute;
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
    }
    .ZQcUXA:after {
      border-radius: 50%;
    }
    .ZQcUXA:after {
      left: calc(50% - 20px);
    }
  }

  .PC_P7Q {
    background-color: rgba(14, 19, 24, .7);
  }

  .PC_P7Q:hover {
    background-color: #00c4cc;
  }

  @media (-moz-touch-enabled: 1), (pointer: coarse) {
    .PC_P7Q:not(.ssb6Dw):hover {
      background-color: rgba(14, 19, 24, .7);
    }
  }

  .mh2TGQ {
    position: relative;
  }

  .mh2TGQ, .T5OikA {
    display: inline-flex;
  }

  .T5OikA {
    line-height: 16px;
  }

  .mh2TGQ .yAhYLw {
    position: absolute;
  }

  .mh2TGQ .yAhYLw.epg7uw {
    top: 8px;
  }

  .mh2TGQ .yAhYLw._45rcUQ {
    right: 7px;
  }

  .mh2TGQ.wZ_zoQ .yAhYLw.epg7uw {
    top: 4px;
  }

  .mh2TGQ.wZ_zoQ .yAhYLw._45rcUQ {
    right: 4px;
  }

  .JA7pfA:not(.ZakHgA):not(.zW7EkQ) {
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

  .mh2TGQ:hover .JA7pfA:not(.ZakHgA):not(.zW7EkQ) {
    opacity: 1;
  }

  .ZElZRA {
    height: 100%;
    width: 100%;
  }

  .sMd5nQ {
    position: relative;
  }

  .yt8-Ew {
    display: flex;
    align-items: center;
  }

  ._0aRDtw {
    align-self: flex-start;
  }

  .C8Hfcw {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 56px;
    justify-content: center;
    width: 56px;
  }

  .wuAAeg {
    width: 100%;
    color: #0e1318;
    overflow: hidden;
  }

  .wuAAeg {
    padding-left: 12px;
  }

  .anLOmg {
    color: rgba(14, 19, 24, .7);
    line-height: 1.6;
  }

  .Sq5okQ .wuAAeg {
    color: #fff;
  }

  .Sq5okQ .anLOmg {
    color: hsla(0, 0%, 100%, .65);
  }

  .Sq5okQ .DeeYsQ {
    color: #fff;
  }

  ._2nNFCw {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .uujxwg {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
  }

  .DeeYsQ {
    line-height: 1.6;
  }

  .anLOmg, .DeeYsQ {
    width: inherit;
    overflow: inherit;
  }

  .Mb3Gqg {
    height: 100%;
  }

  .Mb3Gqg {
    padding-right: 12px;
  }

  /*! CSS Used from: https://static.canva.com/web/d0f9817b0c0fdf1950cc.css */
  .n1Fp1g {
    width: 100%;
  }

  .n1Fp1g {
    margin-bottom: 28px;
  }

  .y2ortA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    font-weight: 600;
  }

  .y2ortA {
    margin-bottom: 8px;
  }

  .C7t9RA {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .C7t9RA::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .WHZ0uA {
    cursor: pointer;
  }

  .SGgUyQ {
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nhbe_w {
    font-weight: 600;
    color: hsla(0, 0%, 100%, .65);
    display: inline-flex;
    flex: none;
    align-items: center;
  }

  .nhbe_w {
    margin-left: 8px;
  }

  .jEbZZQ {
    display: none;
  }

  .jEbZZQ {
    margin: 0 4px;
  }

  @media (max-width: 600px) {
    .nhbe_w {
      margin-left: 0;
    }
    .jEbZZQ {
      display: block;
    }
    .DuBPyQ {
      display: none;
    }
  }
  /*! CSS Used from: https://static.canva.com/web/7696ea160f01250ead09.css */
  .ppePEA {
    margin-top: 24px;
  }

  .ppePEA {
    padding-left: 8px;
  }

  .AF_IZg {
    margin-left: -8px;
  }

  ._428bVQ {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  ._428bVQ:hover {
    background: rgba(14, 19, 24, .3);
  }

  .gDsJNQ.gDsJNQ {
    display: block;
  }

  .hSlghA {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ._0pVedQ {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
  }

  .vyRSEA {
    margin: 0 4px;
  }

  ._428bVQ:hover .xcP_1w {
    display: block;
    max-width: calc(100% - 36px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .UMv2ag {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .UMv2ag {
    cursor: pointer;
  }

  .Ju8dKg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .Ju8dKg, .UMv2ag {
    border-radius: 4px;
  }

  .UMv2ag:hover .Ju8dKg {
    opacity: .9;
  }

  .BN7NuA .Ju8dKg {
    transition: border-radius .15s linear, transform .1s ease-in-out, opacity .15s ease-in-out;
  }

  .q7SpvA {
    width: 100%;
    height: 100%;
  }

  ._6tKNVg, .aptOOQ {
    position: absolute;
    top: 50%;
    color: #fff;
    opacity: 0;
  }

  ._6tKNVg, .aptOOQ {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .aptOOQ {
    box-shadow: 0 0 15px 5px #0e1318;
  }

  ._428bVQ:hover ._6tKNVg, ._428bVQ:hover .aptOOQ {
    opacity: 1;
  }

  @media (-moz-touch-enabled: 1), (pointer: coarse) {
    ._6tKNVg, .aptOOQ {
      opacity: 1;
    }
  }

  .UMv2ag:hover ._6tKNVg {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  .BN7NuA ._6tKNVg, .BN7NuA .aptOOQ {
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
  }

  /*! CSS Used fontfaces */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}