
#shattering {
  position: relative;
  width: 110px;
  height: 110px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table;
  canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    background-size: contain;
  }
  img {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

}