@import "partials/variables";
@import "partials/mixins";

html {
  height: $html-height !important;
  background: $black2 !important;
  font-size: $body-font-size !important;
}

body {
  @include font-text($html-font, "", $body-font-size, "");
  @extend html ;
  margin: $body-margin ;
  display: $body-display ;
  flex-direction: $body-flex-direction ;
  overflow-y:hidden;
  .container {
    padding: $container-padding-main ;
    min-height: $container-min-height ;
    margin: $container-margin ;
    width: $container-width ;

    .row{
      min-height: $container-row-min-height ;
    }

  }

}

header .navbar{
  border-bottom: $panel-border ;
  z-index: 1;
}

.animation-panel{
  border-right: $panel-border;
  height: $container-min-height;
  overflow: scroll;
  color: $animation-panel-color;
  flex: 3 !important;
}

.animation-emphasis{
  padding-left: $animation-emphasis-padding-left ;

}

.animation-exit img,
.animation-emphasis img{
  @include animation-icon-size($animation-img-width, "", $animation-img-margin-left);
}

.animation-exit{
  padding-left: $animation-exit-padding-left ;
}

.animation-entrance img{
  @include animation-icon-size($animation2-img-width, $animation-entrance-img-margin-right, "") ;
}


.animation-exit img{
  @include animation-icon-size($animation2-img-width, "", $animation-img-margin-left) ;
}
.animation-trajectory img{
  @include animation-icon-size($animation2-img-width, $animation-img-margin-left, "");
}


#question-tag{
  margin: 0  10% auto 50%;
  @include mediums-screens ;
  @include larger-screens
}

#question{
  margin-top: -10px;
  padding-bottom: 20px !important;
  @include edit-icon ;
}

#tags{
  margin: -18px 0 -8px;
  @include edit-icon ;
  a{
    display: inline-block;
  }
}

#card-container{
  @include size($container-min-height, $card-container-width);
  overflow-x: hidden ;
  flex: 6 ;
}

canvas{
  position: absolute ;
  width: 414px ;
  height: 736px ;
  left: 50% ;
  top: 50% ;
  transform: translate(-50%,-50%) ;
  background: white
}

#design-panel{
  min-height: $container-min-height ;
  border-left: $panel-border ;
  flex: 4 ;

  overflow: scroll;
}

.nav-item .nav-link span{
  border-radius: $tag-border-radius ;
  border: $tag-border ;
  padding: $tag-padding ;
  font-family: $tag-family-font ;
  font-size: $tag-font-size ;
  display: inline-block;
}

table{
  display: block ;
  white-space: nowrap ;

  tr:hover{
    color: $navbar-inverse-hover-color;
    cursor: default ;
  }

}

footer .navbar-toggleable-md{
  border-top: $panel-border
}

footer .container-fluid{
  width: $footer-nav-width ;
  float: $footer-nav-float ;
  margin: $footer-nav-magin ;
}


#undo,
#redo{
  @include do-font ;
  @include hovering-icon
}

.fa {
  transform: translateX(-35%) ;
}

#zoom button{
  background: $black2;
  margin-top: $zoom-btn-margin-top;
  padding: $zoom-btn-padding;
  @include font-text("", $gray, $zoom-btn-font-size, $zoom-btn-font-weight);
  @include hovering-icon
}

.container-fluid img{
  @include size($menu-icon-height, $menu-icon-width);
  &:hover {
    background-color: #ddd;
  }
}


#screens .row > div,
#multimedia .row > div{
  margin-left: $menu-icon-margin-left1;
}

#magic .row > div,
#graphics .row > div{
  margin-left: $menu-icon-margin-left2;
}

#action button{
  border-radius: $action-btn-border-radius;
  @include font-text($action-btn-font-family, $action-btn-color, $action-btn-font-size, "")
}
#play{
  @include action-btn($blue, $play-btn-margin-left);
}

#publish{
  @include action-btn($green, $publish-btn-margin-left);

}

#me-tool{
  display: $me-tool-display;
  margin-left: $me-tool-margin-left;
}

/*customise space between nav-link cause react remove them*/
.nav-link *{
  margin-right: 4px !important;
}

//*** Variable of custom input picked on https://codepen.io/lewisvrobinson/pen/EyZwjR

.group {
  position: relative;
  margin: 12px 0;
}

// INPUTS // ============================== //


input {
  background: none;
  color: $animation-panel-color;
  font-weight: bolder;
  padding: 10px 10px 0 5px;
  display: block;
  width: $question-input-width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $animation-panel-color;

  &:focus {
    outline: none;
  }

}

.bar {
  position: relative;
  display: block;
  width: $question-input-width;
}

#question-update-btn{
  float: right !important;
  margin-left: 5px;
}

#question-cancel-btn{

}

#question-wrapper{
  padding-top: 5px !important;
}

.btn-link{
  color : rgba(255, 255, 255, 0.5) !important;
}