@mixin do-font {
  color: $gray;
  font-size: $do-font-size;
  text-align: center;

}

@mixin animation-icon-size($width, $margin-right, $margin-left){
  margin-bottom: $animation-img-margin-bottom;
  height:$animation-img-height;
  width: $width;
  margin-right: $margin-right;
  margin-left: $margin-left
}

@mixin action-btn($background, $margin-left){
  background: $background;
  margin-left:$margin-left;
  $hover-color: "";
  @if $background == $blue {
    $hover-color: dodgerblue;
  } @else {
    $hover-color: limegreen;
  }
  &:hover{
    cursor: pointer;
    background: $hover-color;
    border-color:$hover-color;
    color: whitesmoke;
  }
}

@mixin size($height: 100%, $width: 100%){
  height: $height;
  width: $width,
}

@mixin font-text($font-family, $color, $font-size, $font-weight){
  color: $color;
  font: {
    family: $font-family !important;
    size: $font-size !important;
    weight: $font-weight !important;
  }
}

@mixin edit-icon{
  i{
    font-size: 20px;
    margin-left: 4px !important
  }
}

@mixin larger-screens{
  @media screen and (min-width: 1300px){
    margin: 0  10% auto;
  }
}

@mixin mediums-screens{
  @media screen and (max-width: 1301px){
    margin: 0  20% auto;
  }
}

@mixin hovering-icon{
  &:hover{
    background: $navbar-inverse-hover-color;
  }
}

@mixin bar( $width: 600px){
  position: relative;
  display: inline;
  width: $width !important;
}

@mixin input($width: $question-input-width){
  background: none;
  color: $animation-panel-color;
  font-family: $html-font;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px 10px 0 5px;
  display: inline-block;
  width: $width ;
  border: none;
  margin-top: -35px;
  border-radius: 0.3rem;
  border-bottom: 1px solid $animation-panel-color;
  /*border-left: 1px solid $animation-panel-color;*/
  &:focus {
    outline: none;
  }
}

@mixin input-tag($font-family, $font-size, $font-weight, $color, $padding: 5px){
  background: transparent;
  border: 0;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  margin-bottom: 6px;
  margin-top: 1px;
  padding: $padding;
  width: 180px;
  outline: none;
}

// input for text-editor block
@mixin input-te-width($width: 50px){
  border-radius: .25rem;
  height: 24px;
  width: $width;
  outline: none;
  margin-right: 3px;
}

@mixin input-panel(){
  input{
  background: none;
  color: $animation-panel-color;
  border: 1px solid #4f575a;
  font-size: 12px;
  height: 1.5em;
  padding-left: 0.3em;
  }
}