@import "partials/variables";
@import "partials/mixins";
@import "../node_modules/motion-ui/motion-ui";
@import "animations/entry-mui-animation";
@import "animations/emphasis-3d-effect";
@import "animations/exit-tiles";
@import "animations/emphasis-multicoloring";
@import "animations/emphasis-theotherhalf";
@import "animations/emphasis-dead-redemption";
@import "animations/emphasis-book-page";
@import "animations/emphasis-amazon-night";
@import "animations/exit-fall";
@import "animations/emphasis-double-contour";
@import "animations/emphasis-pulsing";
@import "animations/emphasis-romantic-zoom";
@import "animations/exit-split-img";
@import "animations/exit-shattering";
@import "animations/animation-dust";
@import "animations/emphasis-glslglitch";
@import "animations/emphasis-slice";
@import "animations/emphasis-liquiddistortion";
@import "animations/exit-mui-animation";
@import "cmp/mycanvas";
@import "cmp/mytemplate";
@import "cmp/myimage";
@import "cmp/myelement";
@import "../node_modules/slick-carousel/slick/slick";
@import "../node_modules/slick-carousel/slick/slick-theme";
@import "cmp/mytext";
@import "cmp/mybackground";
@import "cmp/mymusic";
@import "cmp/myupload";
@import "cmp/mytimeline";
@import "cmp/myheader";
@import "cmp/mymediaitemlist";
@import "cmp/dragbox";
@import "cmp/mydemo";
@import "cmp/mymediacustomization";
@import "cmp/mycolorpicker";

html {
  height: $html-height !important;
  background: $black2 !important;
  font-size: $body-font-size !important;
  user-select: none;
  scrollbar-color: hsla(0,0%,100%,.25) transparent;
}

body {
  @include font-text($html-font, "", $body-font-size, "");
  @extend html ;
  margin: $body-margin  !important;
  display: $body-display  !important;
  flex-direction: $body-flex-direction  !important;
  overflow-y:hidden !important;
  .container {
    padding: $container-padding-main  !important;
    min-height: $container-min-height;
    margin: $container-margin;
    width: $container-width  !important;

    .row{
      min-height: $container-row-min-height ;
    }

  }

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}
@font-face {
  font-family: 'Avenir Next Italic';
  src: url('fonts/AvenirNextLTPro-It.otf') ;
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('fonts/AvenirNextHeavy.otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}

header .navbar{
  border-bottom: $panel-border ;
  z-index: 1;
}

.navbar-brand{
  margin-right: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 10px !important;
}

#navbarsExampleDefault li {
  @extend .navbar-brand;
}
.nav li {
  margin-right: 10px;
}

#navbarsExampleDefault{
  margin-bottom: -5px;

  img{
    margin-bottom: 3px;
  }
}

.user-profile{
  width: 45%;

  >span{
    float: right;

    >a{
      padding: 2px;
    }
  }
}


.animation-panel{
  /*border-right: $panel-border;
  height: $container-min-height;*/
  overflow: scroll;
  color: $animation-panel-color;
  flex: 1.5 0 220px !important;
  /*position: initial !important; */
  max-width: 30% !important;
  .search{
    margin-top: 10px;
    .form-inline{
      width: 100%;
      input{
        width: 94%;
        padding-left: 10px;
      }
    }
  }
}

.animation-emphasis{
  padding-left: $animation-emphasis-padding-left ;

}

.animation-exit img,
.animation-emphasis img{
  @include animation-icon-size($animation-img-width, "", $animation-img-margin-left);
}

.animation-exit{
  padding-left: $animation-exit-padding-left ;
}

.animation-entrance img{
  @include animation-icon-size($animation2-img-width, $animation-entrance-img-margin-right, "") ;
}


.animation-exit img{
  @include animation-icon-size($animation2-img-width, "", $animation-img-margin-left) ;
}
.animation-trajectory img{
  @include animation-icon-size($animation2-img-width, $animation-img-margin-left, "");
}


#question-tag{
  margin: 0  10% auto 50%;
  @include mediums-screens ;
  @include larger-screens
}

#question{
  padding-bottom: 20px !important;
  @include edit-icon ;
}

#tags{
  margin: -18px 0 -2px;
  @include edit-icon ;
  a{
    display: inline-block;
  }
}

#card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  @include size($container-min-height, $card-container-width);
  overflow-x: hidden ;
  padding: 2px;
  flex: 6 ;
  margin-left: -4px;
}

.animation-{
 /* margin-top: 3px;
  margin-bottom: 3Px;*/
}

canvas{
  //position: absolute ;
  //left: 50% ;
  //top: 50% ;
  //transform: translate(-50%,-50%) ;
  //background: white
}

.dropdown-menu,
.projects-container{
  padding: 50px;
  overflow-y: scroll;
  height: 200px;
}

#design-panel{
  border-left: $panel-border ;
  flex-shrink: 0;
  /*flex-basis: 20px;*/
  /*overflow-y: scroll;*/
  /*height:100%;*/
  min-height: 100%;
  box-sizing: border-box;/*
  margin-right: -10px;*/
  overflow-y: auto;
  height: 100vh;
  flex-grow: 0.35 ;
}

.design-bar{
  right: -2px;
  bottom: 5px;
  cursor: ew-resize;
  width: 5px;
  height: 100%;
  z-index: 2;
  /*   background: white;
    border: 3px solid #4286f4;*/
  position: absolute;
}

.nav-item .nav-link span{
  border-radius: $tag-border-radius ;
  border: $tag-border ;
  padding: $tag-padding ;
  font-family: $tag-family-font ;
  font-size: $tag-font-size ;
  display: inline-block;
}

table{
  display: block ;
  white-space: nowrap ;

  tr:hover{
    color: $navbar-inverse-hover-color;
    cursor: default ;
  }

}

footer .navbar-toggleable-md{
  border-top: $panel-border
}

footer .container-fluid{
  width: $footer-nav-width ;
  float: $footer-nav-float ;
  margin: $footer-nav-magin ;
}


#undo,
#redo{
  @include do-font ;
  @include hovering-icon
}

.fa {
  /*transform: translateX(-35%) ;*/
}

#zoom button{
  background: $black2;
  margin-top: $zoom-btn-margin-top;
  padding: $zoom-btn-padding;
  @include font-text("", $gray, $zoom-btn-font-size, $zoom-btn-font-weight);
  @include hovering-icon
}

footer .container-fluid img{
  @include size($menu-icon-height, $menu-icon-width);
  &:hover {
    background-color: #ddd;
  }
}


#screens .row > div,
#multimedia .row > div{
  margin-left: $menu-icon-margin-left1;
}

#magic .row > div,
#graphics .row > div{
  margin-left: $menu-icon-margin-left2;
}

#action button{
  border-radius: $action-btn-border-radius;
  @include font-text($action-btn-font-family, $action-btn-color, $action-btn-font-size, "")
}
#play{
  @include action-btn($blue, $play-btn-margin-left);
}

#publish{
  @include action-btn($green, $publish-btn-margin-left);

}

#me-tool{
  display: $me-tool-display;
  margin-left: $me-tool-margin-left;
}

/*customise space between nav-link cause react remove them*/
.nav-link *{
  margin-right: 4px !important;
}

//*** Variable of custom input picked on https://codepen.io/lewisvrobinson/pen/EyZwjR

.group {
  position: relative;
  margin: 12px 0;
}

// INPUTS // ============================== //


#question {
  input {
    @include input();
  }
  span{
    @include bar();
  }
}

.search .form-inline{
  background: none;
  font-weight: bolder;
  padding: 6px 10px 6px 15px;
  display: block;
  width: 300px ;
  border-radius: 0.2rem;
  border: 1px solid $animation-panel-color;
  input{
    background: none;
    border: none;
    border-radius: 0;
    color: $animation-panel-color;
    &:focus {

      outline: none;
    }
  }
}


#question-update-btn{
  float: right !important;
  margin-left: 5px;
}


#question-wrapper{
  padding-top: 5px !important;
  font-size: $body-font-size+1;
}

.btn-link{
  color : $animation-panel-color !important;
}

.img-thumbnail {
  background-color: transparent !important;
  border: none !important;
}

// PROJECT MODAL
/*Centering the modal*/
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}

.modal-content{
  background-color: $black1 !important;
  color: $gray !important;
  font-family: $avenir-font!important;
  input, textarea{
    margin-bottom: 15px;
  }
}

.modal-header{
  @include font-text($action-btn-font-family, "", 15px, 600);
  border-bottom: $panel-border !important;
  padding-bottom: 0 !important;
}

.me-modal-form{
  input, textarea {
    font-family: $avenir-font !important;
    @include input(100%);
  }
  span{
    @include bar(100%);
  }
}

.modal-under-background{
  z-index: 10 !important;
}

.modal-backdrop {
  display:none;
}

.alert {
  padding: 20px;
  background-color: $red; /* Red */
  color: white;
  margin-bottom: 15px;
}
.hide-alert{
  display: none;
}
.text-help{
  color: $red;
  font-family: $avenir-font !important;
  font-size: $body-font-size+1;
}

.me-input-invalid{
  border-bottom: 1px solid $red !important;
  margin-bottom: 0 !important;
  font-family: $avenir-font !important;
  font-size: $body-font-size+1;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 30px;
}

::-webkit-scrollbar-thumb:vertical:active{
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.hide-counter,
.me-modal-url,
.me-modal-tag,
.me-modal-question{
  display: none;
  visibility: hidden;
}


/* TAGS IN INPUT*/
.react-tagsinput{
  position: relative;
}

.react-tagsinput-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: $tag-padding;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  &:hover{
    color: $navbar-inverse-hover-color;
  }
}

.react-tagsinput-tag a::before {
  content: " x";
}

.react-tagsinput-input {
  @include input-tag($html-font, 15px, 400, #777);
}

.react-questioninput{
  margin-left: -5px
}

.topic-input .react-autosuggest__input,
.topic-input .react-autosuggest__input--focused{
  font-weight: 400 !important;
  font-size: 100% !important;
}

.topic-input input{
  @include input-tag($html-font, "", "", $gray);
  &::placeholder{
    color: $gray;
  }
}

.react-tagsinput-tag:hover,
.react-tagsinput-tag:focus {
  border-color: #B1B1B1;
}
/*dropdown tag*/
.react-autosuggest__container {
  position: absolute;
  display: inline;
  margin-top: -6px;
}


.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: $html-font;
  font-weight: 300;
  font-size: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: scroll !important;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: -15px;
  padding: 10px;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.tag-input-parent{
  list-style-type: none
}

.topic{
  cursor: pointer;
}

.me-topicinput-remove:hover{
  color: white;
}

#question-list,
#tags-topics{
  overflow-y: auto;
  width: 500px;
  max-height: 400px;
  margin-bottom: -30px;
  position: relative;
  ul{
    height: 48px;
  }
}

.me-topic{
  display: table;
  max-width: 650px;
}

.input-question .react-autosuggest__container{
  width: 90%;
  input{
    width: 100%;
  }
}

.nb-question{
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.questions-list{
  color: white;
  font-family: $avenir-font;
  height: inherit !important;

}

.preview{
  margin: 30px auto;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview{
  border: solid 3px white;
}

.alignment-btn {
  //padding-top: 10px;
  button{
    height:24px;
    //border: 1px solid transparent;
    background-color: white;
  }
  td{
    padding-top: 5px;
  }
  svg{
    width:31px;
    height: 18px;
  }
}

.text-editor{
  input{
    border-radius: .25rem;
    height:24px;
    //width: 43px;
  }
  td{
    padding-bottom: 5px;
  }
  #font-size{
    outline: none;
  }
  .btn-group,
  .btn-me{
    width: 100%;
  }
  .dropdown-toggle-split-me{
    margin-right: 5px;
  }
  .rot-input{
    margin-top: 6px;
  }
}

.aa{
  border-radius: 0.2em !important;
  margin-right: 3px;
}

.line-title{
  font-size: 12px;
  color: white;
  line-height: 1;
  margin-top: 1px;
  margin-right: 3px;
}
.line-input{
  @include input-te-width();
}

.fill-input{
  @include input-te-width(47px);
}

.alignment-btn-left{
  border-bottom-left-radius: $border-text-btn !important;
  border-top-left-radius: $border-text-btn !important;
  border-right: $border-text-btn-color;
}

.alignment-btn-justify{
  border-bottom-right-radius: $border-text-btn !important;
  border-top-right-radius: $border-text-btn !important;
}

.alignment-btn-right,
.alignment-btn-center{
  border-right: $border-text-btn-color;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 1px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.separator{
  border-top: 1px solid $navbar-inverse-hover-color;
  padding-bottom: 10px;
}

.arrg-box{
  .row{
    min-height: 0 !important;
  }
  .col{
    padding-bottom: 6px;
  }
  input[type="checkbox"], input.line-input{
    float: right;
    //margin-top: -3px;
  }
  span{
    margin-left: 15px;
  }
}

.padlock{
  margin-left: -28px !important;
  margin-right: 3px;
  top: 2px;
  position: relative;
  svg{
    width: 8px;
  }
}

.group-alignment{
  svg{
    width: 16px;
    fill: white;
    &:hover{
      fill:black;
      background: white;
    }
  }
  .row{
    padding-right: 15px;
  }
  .col{
    width: 7px;
  }
}

.me-color{
  float: left;
  padding-right: 0;
  .item{
    display: inline-grid;
    text-align: center;
    margin-right: 1px;
  }
  .item-wm{
    display: inline-grid;
    text-align: center;
  }
  .line-title{
    padding-top: 4px;
  }
  .input-shadow{
    float: right;
    margin-top: -3px;
  }
  .sk-color{
    float: right;
  }

}

.shadow-checkbox{
  .row{
    float:left;
  }
  input{
    margin-top: 0;
  }
  .line-title{
    margin-left:-25px;
  }
}

.is-clicked{
  color: #292b2c !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}
.colorFont,
.color-shadow,
.colorBlend,
.colorStroke{
  height: 24px;
}
//Hello
.btn-blending{
  margin-right: 3px;
  button:first-child{
    width: 65px;
  }
  button{
    height: 24px;
  }
}

.bg-color-box{
  margin-top: -5px;
}

#fullscreen-player{
  width: 375px;
  height: 812px;
  background-color: black;
}

#play-container{
  height: 2000px;
  width: 1124px;
  background: gray;
  margin: auto;
  position: relative;
  transform-origin: 50% 0;
}

/*! CSS Used from: http://localhost:8081/external/menu-boxImproved/css/style.css */
.menu-box{
  position: absolute;
  float: right;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1031;
  box-sizing: initial;
  left: 83%;
  video, img{
    margin-left:auto;
    margin-right:auto;
    border:none;
    display:none;
    width:auto;
    height:auto;
    max-height:100%;
    max-width:100%;
  }
  .add-media #fmb-label,
  video{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.navg{
  background-color:$menubox-bg;
  position:absolute;
  border:1px solid $menubox-bg;
  height:25px;
  top:-30px;
  left:5px;
  padding:3px;
  -moz-box-shadow:$menubox-shadow;
  -webkit-box-shadow:$menubox-shadow;
  box-shadow:$menubox-shadow;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
a.thumbview{
  opacity:0.6;
  width:20px;
  height:21px;
  float:left;
  cursor:pointer;
}
a.single{
  background:transparent url(http://localhost:8081/external/menu-boxImproved/images/single.png) no-repeat top left;
}
a.thumbview:hover{
  opacity:1.0;
}
button.prev,button.next{
  float:right;
  width:22px;
  height:20px;
  cursor:pointer;
  opacity:0.6;
  outline:none;
  border:none;
  padding:0;
}
button::-moz-focus-inner{
  border:0;
}
button.prev:hover,button.next:hover{
  opacity:1.0;
}
.navg button.disabled{
  opacity:0.2;
}
.navg button.disabled:hover{
  opacity:0.2;
}big-menu-box
a.grid{
  background:transparent url(../assets/imageFooterBoxMenu/thumbs.png) no-repeat top left;
}
button.next{
  background:transparent url(../assets/imageFooterBoxMenu/arrows.png) no-repeat top left;
}
button.prev{
  background:transparent url(../assets/imageFooterBoxMenu/arrows.png) no-repeat 0px -20px;
}

.big-menu-box{
  .navg{
    width:225px;
  }
  .anim-btn-type >div,
  .images > div{
    display:flex;
    vertical-align:middle;
    text-align:center;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
  }

  .images{
    padding:10px;
    background-color:$black2;
    border:1px solid $black1;
    color: white;
    position:relative;
    -moz-box-shadow:$menubox-shadow;
    -webkit-box-shadow:$menubox-shadow;
    box-shadow:$menubox-shadow;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow: auto;
    width: 302px;
    height: 302px;
  }
  .anim-btn-type{
    overflow: hidden;
    /*margin: 0 0 0 -3px;*/
  }
  .thumbs {
 /*   .me-btn,me-btn2, div{
      float:left;
      cursor:pointer;
      text-align: center;
    }
    .me-btn, div{
      width:103px;
      height:103px;

    }*/
    .me-btn2{
      width:62px;
      height:62px;
    }
  }

  input {
    background: none;
    color: #636c72;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    display: inline-block;
    width: 92%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    margin-left: 3%;
  }

  input:focus {
    outline: none;
  }
}

.anim-container{
  /*border : 1px solid gray;*/
  border-radius: 0.2rem!important;
  margin-right: 5%;
  @include input-panel();

  .anim-block{
    width: 93%;
    vertical-align: middle;
    margin: auto;
    padding-left: 2px;
  }
  /*div{
    padding-left:3px;
  }*/
}


.box-img{
  display: flex;
  margin:3px;
  img{
    height: 100% !important;
    width: auto !important;
  }
  video, img{
    display: block;
  }
}
.singleImg{
  display: flex;
  align-items: center;
  justify-content:center;
}
.big-anim-box{
  /*margin-left: -5px;*/
  width: 108%;
  .line-title{
    display: inline-block;
  }
  .line-input{
    margin: 5px;
  }
}
.fmb-menu{
  height: 30px !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: -3px !important;
  margin-left: 0;
  margin-right: 0;
  top: 20px;
  .left-btn,
  .middle-btn,
  .right-btn,
  .animation-order{
    margin: unset!important;
    display: flex!important;
    justify-content: center!important;
    flex-direction: column!important;
    background-color: darkgrey;
    color: white;
    font-size: 12px;
  }
  .animation-order{
    height: 80%!important;
    color: $animation-panel-color;
    img{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .col{
      padding: 0;
    }
    .col-1{
      padding: 0;
      text-align: center;
      .magic-entrance{
        height:12px
      }
    }
    .eye-hs{
      margin-top: 4px;
      img{
        height: 8px;
      }
    }
    .text{
      margin-top: 3px;
    }
    .container-fluid{
      margin: 0;
      .row{
        min-height: 0;
        padding-left: 10px;
        padding-right: 9px;
      }
    }
  }
  .left-btn{
    height: 70%!important;
    border-right: 1px solid gray;
    border-bottom-left-radius:0.2rem!important;
    border-top-left-radius:0.2rem!important;
  }
  .middle-btn{
    height: 70%!important;
    border-right: 1px solid gray;
  }
  .right-btn{
    height: 70%!important;
    border-right: 1px solid gray;
    border-bottom-right-radius:0.2rem!important;
    border-top-right-radius:0.2rem!important;
  }
  .animation-order{
/*    border : 1px solid gray;
    border-radius: 0.2rem!important;*/
    background-color: #353738;
    color: whitesmoke;
  }
}
.fmb-menu .animation-order:hover{
  background-color: darkgrey;
  color: white;
}

.fmb-menu .left-btn:hover,
.fmb-menu .middle-btn:hover,
.fmb-menu .right-btn:hover{
  background-color: #353738;
  color: whitesmoke;
}

.thumbs .add-media{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering y-axis */
  align-items :center; /* Centering x-axis */
  border: 1px solid darkgrey;
  margin: 2px 6px 2px 0 !important;
  padding: 0!important;
  border-radius: 5px;
  fill: grey!important;
  width: 102px!important;
  height: 100px!important;
}
.thumbs .medias-container{
  /*display: inline-block ;*/
  width: inherit !important;
  margin-left: 3px !important;
}
.thumbs .add-media p{
  font-size: 10px;
  color: grey;
  font-weight: bold;
  margin:0;
}
.Loader__background{
  z-index: 100000 !important;
}

.sidebar-menu{
  height: auto;
  flex-basis: 50px !important;
  background: $black2;
  flex-direction: column;
  padding: 0 !important;
  align-items: center;
  overflow-y: auto;
  min-width: 90px;
  /*max-height: 400px; Todo: To assign dynamically*/
  .option{
    display: flex;
    cursor: pointer;
    justify-content: center;
    color: $animation-panel-color;
    width: 100%;
    flex: 1;
    border-left: $panel-border;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    padding: 15px;

    &:hover{
      img{filter: brightness(3)};
      span{color: white};
    }
    /*img:hover, span:hover{filter: brightness(3)};*/
    span, img{
      margin: 0;
    }
  }
  .option-is-clicked{
  border-left: 1px solid $black4;
  border-bottom: 1px solid $black1;
  border-top: 1px solid $black1;
  background: $black4;
    img{
      filter: brightness(3);
    }
    span{
      color: white;
    }
  }
 /* .option::before { content: ' '; padding: 225px; }
  .option::after { content: ' '; padding: 15px; }*/
  .remaining-block{
    border-left: $panel-border;
    height: 100%;
    width: 100%;
  }

}

.hide-side-menu{
  margin-left: -35px;
  position: fixed;
  margin-top: -8px;
  background: #292b2c;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 9px;
  padding-left: 7px;
  padding-right: 5px;
  cursor: pointer;
}

header{
  .editor-menu{
    width: 100%;
    height: 45px;
    margin: 0;
    flex-direction: row;
    padding: 0 ;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    /*min-width: 90px;*/
    .editor-item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      max-width: 160px;
      margin: 10px;
      button{
        &:first-child{
          border-top-left-radius: 0.2rem;
          border-bottom-left-radius: 0.2rem;
          border: none;
        }
        &:nth-child(2),
        &:last-child{
          border-top-right-radius: 0.2rem;
          border-bottom-right-radius: 0.2rem;
          border-left:  1px solid #353738;

        }
        &:hover{
          img, i, svg, span{filter: brightness(3);color: white};
        }
        height: 25px;
        min-width: 50px;
        background: #1F1F1F;
        color: $animation-panel-color;
        cursor: pointer;
        border: none;
      }
    }
    .selected-item{
      filter: brightness(3);
      color: white;
    }
  }

}

.anim-menu{
  display: flex;
  /*margin-bottom: 10px;*/
  margin-top: 5px;
  .sub-edit-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 60%;
    p{
      height: 2px;
    }
  }
  .sub-edit{
    &:first-child{
      width: 40%;
      img{
        object-fit: contain;
        width: 100%;
      }
    }
    display: flex;
    flex-wrap: wrap;
  }
  .sub-menu{
    display: flex;
    border-bottom: 1px solid;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    &:hover{
      color: white;
    }
  }
  .sub-menu-is-clicked{
    color: white;
    border-bottom: 3px solid white;
  }
  .close-anim-box{
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    &:hover{
      color:white;
    }
  }
}
.anim-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
  font-size: 10px;
  @include input-panel();
  div{
    display: flex;
    align-content: center;
    align-items: center;
  }
  input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*background-color: red;*/
    width: 17px;
    height: 17px;
    &:checked{
      background: url("../assets/media/check.svg") 2px 2px no-repeat;
    }
  }
  select{
    height: 19px;
    background:none;
    color: $animation-panel-color;
    border: 1px solid #4f575a;
  }
  .input-search{
    width: 100%;
  }
}
.anim-box-container{
  overflow-y: auto;
  height: 380px;
  .anim-box{
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .item{
      height: 110px;
      width: auto;
      display: flex;
      flex: 0 0 33%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      cursor: pointer;
      margin-top: 35px;
      span{
        display: block;
      }
      svg,
      /*svg img,*/
      img{
        height: 110px;
        width: 110px;
        object-fit: fill;
      }
    }
  }
}

#animation-panel{
  .search{
    margin-bottom: 15px;
  }
}



