@import "partials/variables";
@import "partials/mixins";

html {
  height: $html-height !important;
  background: $black2 !important;
  font-size: $body-font-size !important;
}

body {
  @include font-text($html-font, "", $body-font-size, "");
  @extend html ;
  margin: $body-margin  !important;
  display: $body-display  !important;
  flex-direction: $body-flex-direction  !important;
  overflow-y:hidden !important;
  .container {
    padding: $container-padding-main  !important;
    min-height: $container-min-height  !important;
    margin: $container-margin  !important;
    width: $container-width  !important;

    .row{
      min-height: $container-row-min-height ;
    }

  }

}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url('fonts/AvenirNextLTPro-It.otf');
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('fonts/AvenirNextHeavy.otf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}

header .navbar{
  border-bottom: $panel-border ;
  z-index: 1;
}

.navbar-brand{
  margin-right: 40px;
}

#navbarsExampleDefault li {
  @extend .navbar-brand;
}
.nav li {
  margin-right: 10px;
}

#navbarsExampleDefault{
  margin-bottom: -5px;

   img{
    margin-bottom: 3px;
  }
}

.user-profile{
  width: 45%;

  >span{
    float: right;

    >a{
      padding: 2px;
    }
  }
}


.animation-panel{
  border-right: $panel-border;
  height: $container-min-height;
  overflow: scroll;
  color: $animation-panel-color;
  flex: 0 0 220px !important;
}

.animation-emphasis{
  padding-left: $animation-emphasis-padding-left ;

}

.animation-exit img,
.animation-emphasis img{
  @include animation-icon-size($animation-img-width, "", $animation-img-margin-left);
}

.animation-exit{
  padding-left: $animation-exit-padding-left ;
}

.animation-entrance img{
  @include animation-icon-size($animation2-img-width, $animation-entrance-img-margin-right, "") ;
}


.animation-exit img{
  @include animation-icon-size($animation2-img-width, "", $animation-img-margin-left) ;
}
.animation-trajectory img{
  @include animation-icon-size($animation2-img-width, $animation-img-margin-left, "");
}


#question-tag{
  margin: 0  10% auto 50%;
  @include mediums-screens ;
  @include larger-screens
}

#question{
  padding-bottom: 20px !important;
  @include edit-icon ;
}

#tags{
  margin: -18px 0 -2px;
  @include edit-icon ;
  a{
    display: inline-block;
  }
}

#card-container{
  @include size($container-min-height, $card-container-width);
  overflow-x: hidden ;
  padding: 2px;
  flex: 6 ;
}

.canvas-container{
  margin-top: 3px;
  margin-bottom: 3Px;
}

canvas{
  //position: absolute ;
  //left: 50% ;
  //top: 50% ;
  //transform: translate(-50%,-50%) ;
  //background: white
}

.dropdown-menu,
.projects-container{
  padding: 50px;
  overflow-y: scroll;
  height: 200px;
}

#design-panel{
  min-height: $container-min-height ;
  border-left: $panel-border ;
  flex: 3 ;
  overflow-y: scroll;
  height:250px;
}

.nav-item .nav-link span{
  border-radius: $tag-border-radius ;
  border: $tag-border ;
  padding: $tag-padding ;
  font-family: $tag-family-font ;
  font-size: $tag-font-size ;
  display: inline-block;
}

table{
  display: block ;
  white-space: nowrap ;

  tr:hover{
    color: $navbar-inverse-hover-color;
    cursor: default ;
  }

}

footer .navbar-toggleable-md{
  border-top: $panel-border
}

footer .container-fluid{
  width: $footer-nav-width ;
  float: $footer-nav-float ;
  margin: $footer-nav-magin ;
}


#undo,
#redo{
  @include do-font ;
  @include hovering-icon
}

.fa {
  transform: translateX(-35%) ;
}

#zoom button{
  background: $black2;
  margin-top: $zoom-btn-margin-top;
  padding: $zoom-btn-padding;
  @include font-text("", $gray, $zoom-btn-font-size, $zoom-btn-font-weight);
  @include hovering-icon
}

.container-fluid img{
  @include size($menu-icon-height, $menu-icon-width);
  &:hover {
    background-color: #ddd;
  }
}


#screens .row > div,
#multimedia .row > div{
  margin-left: $menu-icon-margin-left1;
}

#magic .row > div,
#graphics .row > div{
  margin-left: $menu-icon-margin-left2;
}

#action button{
  border-radius: $action-btn-border-radius;
  @include font-text($action-btn-font-family, $action-btn-color, $action-btn-font-size, "")
}
#play{
  @include action-btn($blue, $play-btn-margin-left);
}

#publish{
  @include action-btn($green, $publish-btn-margin-left);

}

#me-tool{
  display: $me-tool-display;
  margin-left: $me-tool-margin-left;
}

/*customise space between nav-link cause react remove them*/
.nav-link *{
  margin-right: 4px !important;
}

//*** Variable of custom input picked on https://codepen.io/lewisvrobinson/pen/EyZwjR

.group {
  position: relative;
  margin: 12px 0;
}

// INPUTS // ============================== //


#question {
  input {
    @include input();
  }
  span{
    @include bar();
  }
}


#search form{
  background: none;
  font-weight: bolder;
  padding: 6px 10px 0 0;
  display: block;
  width: 300px ;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $animation-panel-color;
  input{
    background: none;
    border: none;
    border-radius: 0;
    color: $animation-panel-color;
    &:focus {
      outline: none;
    }
  }
}


#question-update-btn{
  float: right !important;
  margin-left: 5px;
}


#question-wrapper{
  padding-top: 5px !important;
  font-size: $body-font-size+1;
}

.btn-link{
  color : rgba(255, 255, 255, 0.5) !important;
}

.img-thumbnail {
  background-color: transparent !important;
  border: none !important;
}

// PROJECT MODAL
/*Centering the modal*/
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}

.modal-content{
  background-color: $black1 !important;
  color: $gray !important;
  font-family: $avenir-font!important;
  input{

    margin-bottom: 15px;
  }
}

.modal-header{
  @include font-text($action-btn-font-family, "", 15px, 600);
  border-bottom: $panel-border !important;
  padding-bottom: 0 !important;
}

.me-modal-form{
  input {
    font-family: $avenir-font !important;
    @include input(100%);
  }
  span{
    @include bar(100%);
  }
}

.modal-under-background{
  z-index: 10 !important;
}

.modal-backdrop {
  display:none;
}

.alert {
  padding: 20px;
  background-color: $red; /* Red */
  color: white;
  margin-bottom: 15px;
}
.hide-alert{
  display: none;
}
.text-help{
  color: $red;
  font-family: $avenir-font !important;
  font-size: $body-font-size+1;
}

.me-input-invalid{
    border-bottom: 1px solid $red !important;
    margin-bottom: 0 !important;
    font-family: $avenir-font !important;
    font-size: $body-font-size+1;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 30px;
}

::-webkit-scrollbar-thumb:vertical:active{
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.hide-counter,
.me-modal-url,
.me-modal-tag,
.me-modal-question{
  display: none;
  visibility: hidden;
}


/* TAGS IN INPUT*/
.react-tagsinput{
  position: relative;
}

.react-tagsinput-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: $tag-padding;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  &:hover{
    color: $navbar-inverse-hover-color;
  }
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  @include input-tag($html-font, 15px, 400, #777);
}

.react-questioninput{
  margin-left: -5px
}

.topic-input .react-autosuggest__input,
.topic-input .react-autosuggest__input--focused{
  font-weight: 400 !important;
  font-size: 100% !important;
}

.topic-input input{
  @include input-tag($html-font, "", "", $gray);
  &::placeholder{
    color: $gray;
  }
}

.react-tagsinput-tag:hover,
.react-tagsinput-tag:focus {
  border-color: #B1B1B1;
}
/*dropdown tag*/
.react-autosuggest__container {
  position: absolute;
  display: inline;
  margin-top: -6px;
}


.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: $html-font;
  font-weight: 300;
  font-size: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: scroll !important;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: -15px;
  padding: 10px;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.tag-input-parent{
 list-style-type: none
}

.topic{
  cursor: pointer;
}

.me-topicinput-remove:hover{
  color: white;
}

#question-list,
#tags-topics{
  overflow-y: auto;
  width: 500px;
  max-height: 400px;
  margin-bottom: -30px;
  position: relative;
  ul{
    height: 48px;
  }
}

.me-topic{
  display: table;
  max-width: 650px;
}

.input-question .react-autosuggest__container{
  width: 90%;
  input{
    width: 100%;
  }
}

.nb-question{
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.questions-list{
  color: white;
  font-family: $avenir-font;
  height: inherit !important;

}

.preview{
  margin: 30px auto;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview{
  border: solid 3px white;
}

.alignment-btn {
  //padding-top: 10px;
  button{
    height:24px;
    border: 1px solid transparent;
    background-color: white;
  }
  td{
    padding-top: 5px;
  }
  svg{
    width:31px;
    height: 18px;
  }
}

.text-editor{
  input{
    border-radius: .25rem;
    height:24px;
    width: 43px;
  }
  td{
    padding-bottom: 5px;
  }
  #font-size{
    outline: none;
  }
  .btn-group,
  .btn-me{
    width: 100%;
  }
  .dropdown-toggle-split-me{
    margin-right: 5px;
  }
  .rot-input{
    margin-top: 6px;
  }
}

.aa{
  border-radius: 0.2em !important;
  margin-right: 3px;
}

.line-title{
  font-size: 12px;
  color: white;
  line-height: 1;
  margin-top: 1px;
  margin-right: 3px;
}
.line-input{
 border-radius: .25rem;
 height: 24px;
 width: 43px;
 outline: none;
 margin-right: 3px;
}

.alignment-btn-left{
  border-bottom-left-radius: $border-text-btn !important;
  border-top-left-radius: $border-text-btn !important;
  border-right: $border-text-btn-color;
}

.alignment-btn-justify{
  border-bottom-right-radius: $border-text-btn !important;
  border-top-right-radius: $border-text-btn !important;
}

.alignment-btn-right,
.alignment-btn-center{
  border-right: $border-text-btn-color;
  border-radius: 0 !important;
}

.me-color{
  .sk-color{
    float: right;
  }

}

::-webkit-scrollbar {
  width: 1px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.separator{
  border-top: 1px solid $navbar-inverse-hover-color;
  padding-bottom: 10px;
}

.arrg-box{
    .row{
      min-height: 0 !important;
    }
    .col{
      padding-bottom: 6px;
    }
    input{
      float: right;
      margin-top: -3px;
    }
    span{
      margin-left: 15px;
    }
}

.padlock{
  margin-left: -28px !important;
  margin-right: 3px;
  top: 2px;
  position: relative;
  svg{
    width: 8px;
  }
}

.group-alignment{
  svg{
    width: 16px;
    fill: white;
    &:hover{
      fill:black;
      background: white;
    }
  }
  .row{
    padding-right: 15px;
  }
  .col{
    width: 7px;
  }
}

.me-shadow{
  float: left;
  padding-right: 0;
  .item{
    display: inline-grid;
    text-align: center;
    margin-right: 1px;
  }
  .line-title{
    padding-top: 4px;
  }
  input{
    float: right;
    margin-top: -3px;
  }

}

.shadow-checkbox{
  .row{
    float:left;
  }
  input{
    margin-top: 0;
  }
  .line-title{
    margin-left:-25px;
  }
}

.is-clicked{
  color: #292b2c !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.color-shadow{
  height: 24px;
}



